@import url("resources.css");


body {
  overflow-x: hidden;
  background-image: url('../assets/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

::-webkit-scrollbar {
  display: none;
}

.btn-primary {
  background-color: var(--second-color);
  border: none;
}

.bg-gradient {
  background: linear-gradient(to top, var(--cream), var(--white)) !important;
}

.bg-dark {
  background-color: var(--black);
  border-radius: 10px;
}
.text-light {
  color: var(--white) !important;
}
.lead {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--white);
}

/*navbar*/

header{
  z-index: 1000;
  background: var(--black);
  border-radius: 0px 0px 10px 10px;
}

#headerLogo {
  width: 60px;
}

.nav-link {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--white);
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--main-color-dark);
  transition: 0.5s;
}

/*caroseul*/

#carouselBox {
  padding: 0;
}

#myCarousel {
  height: 40rem;
}

@media screen and (max-width: 1000px) {
  #myCarousel {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  #myCarousel {
    width: 100%;
  }
}
.carousel-inner {
  box-shadow: 2px 2px 4px #252525ad;
}

.caroseulTxt {
  background-color: #35353535;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--cream);
  transition: 0.5s;
}

.caroseulTxt:hover {
  color: var(--second-color);
  transition: 0.5s;
}

.caroseulImg {
  width: 100%;
  height: 40rem;
}

/*Second Caroseul*/
#secondCaroseul .carousel-indicators li {
  background-color: #bbb;
  border-color: #bbb;
}

#secondCaroseul .carousel-indicators .active {
  background-color: #333;
  border-color: #333;
}

/*Cards*/

.card {
  background-color: transparent;
  border: none;
}

.card-body {
  background-color: var(--cream);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 4px #252525ad;
}

.card-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--main-color-dark);
  font-family: var(--second-font);
}

.card-text {
  color: var(--black);
  font-family: var(--main-font);
}

.card-img-top {
  height: 15rem;
  box-shadow: 2px 2px 4px #252525ad;
}

.card-img-top-lg {
  height: 30rem;
}

.card-lg {
  width: 40rem;
}
.card-body-lg {
  background: var(--black);
}

.card-title-lg {
  color: var(--white);
  font-family: var(--main-font);
  font-size: 1.5rem;
}

/*highlight*/

.title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bolder;
  font-size: 2rem;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--second-color);
  transition: 0.5s;
}

/*Footer*/

#logoFooter {
  width: 50px;
}