@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root {
    --main-font: 'Montserrat', sans-serif;
    --second-font: 'Noto Sans', sans-serif;
    --main-color: #fdce5d;
    --main-color-dark: #d69a0d;
    --second-color: #1e98a8;
    --second-color-light: #5ad2e7;
    --second-color-vlight: #b8ddfc;
    --second-color-dark: #09515a;
    --black: #252525;
    --grafite: #353535;
    --lead: #5c5c5c;
    --gray: #a3a3a3;
    --silver: #c4c4c4;
    --cream: #d9d9d9;
    --white: #eaeaea;
}